<div class="main-section mt-1 mx-1 px-1 center">
    <div class="main-content row">
        <div class="col-6">
            <img src="{{itemimage}}" alt="Image for {{itemtitle}}" class="img-fluid">
        </div>
        <div class="col-6">
            <h1>{{itemtitle}}</h1>
            <p class="fs-2 text">${{itemprice}}.00</p>
            <p>{{itemdescription}}</p>
            <p class="fs-3 text fw-bold">{{itemtitle}}</p>
        </div>
    </div>
</div>